#
# This config file contains the settings for all members of the cluster.
# It will be read by the rsync_auth.sh script to copy files around the cluster.
# It can be setup on one instance and then copied to all others.
# The local instance should be listed here for symmetry.
#
# The format is a space separated, three column format, where the columns are:
#  - unique name for the instance
#  - ssh-user@host format for ssh access to console of instance
#  - path on the host to the installation of the instance
#
# For example, here is a config setting that is a 6 core config with 3 cores on each of two hosts.
#
#craig_1    craig@172.16.13.129               /Users/craig/Downloads/3.1-cluster/core_1
#craig_2    craig@172.16.13.129               /Users/craig/Downloads/3.1-cluster/core_2
#craig_3    craig@172.16.13.129               /Users/craig/Downloads/3.1-cluster/core_3
#olivia_1   oliviaytterbrink@172.16.13.22     /Users/oliviaytterbrink/dev/hackathon/core_1
#olivia_2   oliviaytterbrink@172.16.13.22     /Users/oliviaytterbrink/dev/hackathon/core_2
#olivia_3   oliviaytterbrink@172.16.13.22     /Users/oliviaytterbrink/dev/hackathon/core_3
